html, body {
    font: 1em/1.2em "Lato";
}

header{
    background: #8892BF;
}

h1{
    font: bold 40px "Lato";
    padding-top: 10px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 0 #b7b7b7;
}

nav{
    position: relative;
    top: 3px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 10px 15px;
    border-radius: 5px;
    background: #E5E5E5;
    text-decoration: none;
    color: black;
    border: 1px solid #737373;
}

nav ul li:nth-child(4) a{
    background: #FFE6AB;
}

nav ul li a:hover{
    background: #797979;
    color: #fff;
}

.main {
    width: 1200px;
    margin: 25px auto 0;
}

.content {
    width: 60%;
    float:left;
}
.sidebar {
    width: 40%;
    float: right;
}

p.italic {
    font-size:12px;
    font-style: italic;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 20px;
}